.footer-container {
  margin-top: auto;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer {
  height: 146px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}

.footer-logo{
  width: 85px;
  height: 38px;
}